In [1]:
# employee data with key as id of the employee and values as age of the employee
Employee_data ={101: 43, 102: 25, 103: 43, 104: 31, 105: 26, 106: 28, 107: 29, 108: 43, 109: 25, 110: 22, 111: 22, 112: 25, 113: 30, 115: 45, 116: 23, 117: 29, 118: 28, 119: 30, 120: 28, 121: 42, 122: 39, 123: 29, 124: 42, 125: 43, 126: 42, 127: 40, 128: 27, 129: 23, 130: 30, 131: 37, 132: 20, 133: 36, 134: 27, 135: 27, 136: 22, 137: 28, 138: 23, 139: 45, 140: 39, 141: 29, 142: 33, 143: 39, 145: 34, 146: 26, 147: 30, 148: 38, 149: 29, 150: 24, 151: 28, 152: 34, 153: 42, 154: 29, 155: 23, 156: 31, 158: 25, 160: 45, 161: 42, 162: 27, 163: 24, 164: 20, 166: 24, 167: 28, 168: 20, 169: 33, 170: 34, 171: 37, 172: 45, 173: 35, 174: 23, 175: 44, 176: 27, 177: 30, 178: 26, 179: 27}

#### Identify the senior most employees age

- 45
- 44
- 48
- 42

In [2]:
#Variable declaration for storing Senior most emp age
sn_emp=0

for i in Employee_data.values():    
    if sn_emp < i:
        sn_emp=i
        
        
print("The Senior most Employee Age :",sn_emp)

The Senior most Employee Age : 45

#### Identify the age of the employee with employee id 159 [ If the employee isn't present return NA]

- 25
- 32
- NA
- 42

In [3]:
#Function to find if the ID is present in the dict.
def find_age():
    for id in Employee_data.keys():
        if id == 159:
            return Employee_data[id]       #Returing the value of the Key
    
    return False          #returning False if value not present 


#Condition if Id is found or not 
if find_age() == False:
    print("NA")    
else:
    print(find_age())

NA

#### Count the total number of employee in the organization

- 79
- 78
- 60
- 74

In [4]:
#Count the total number of employee in the Org
print("The Total number of employee in the Organization :",len(Employee_data))

The Total number of employee in the Organization : 74

#### Calculate the mean age of the employees

- 31.36
- 36.48
- 28.77
- 32.47

In [5]:
sum =0

#Loop to calculate the sum of the age of all the employees
for i in Employee_data.values():
    sum+=i
    
#Mean = sum of age / total number of employees
print("The Mean Age of the Employees : ",sum/len(Employee_data))

The Mean Age of the Employees :  31.364864864864863

#### Perform the following two tasks and then calculate the updated mean age of the employees
Task1 Update the ages of employee id - 104,140, and 164 as 27 <br>
Task2 Remove the employ with employee id - 143 <br>

- 30.71
- 31.36
- 30.13
- 31.13

In [7]:
for i in Employee_data.keys():
    #Task 1 : Update the ages of employee id - 104,140, and 164 as 27
    if i == 104:
        Employee_data[i]=140
    elif i == 164:
        Employee_data[i]=27
        
    #Task 2 :Remove the employ with employee id - 143
    elif i == 143:
        del Employee_data[143]

print("Updated Employee 104 age :",Employee_data[104])
print("Updated Employee 164 age :",Employee_data[164])

sum=0
#Loop to calculate the sum of the age of all the employees
for i in Employee_data.values():
    sum+=i
    
#Mean = sum of age / total number of employees
print("The Mean Age of the Employees : ",sum/len(Employee_data))

Updated Employee 104 age : 140
Updated Employee 164 age : 27
The Mean Age of the Employees :  32.84931506849315